# Dependencies
node_modules/
package-lock.json

# Environment files
.env
.env.*

# Docker
.docker/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# AWS
.aws/
*.pem
*.key
